In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode
from pyspark.sql.types import FloatType, IntegerType
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [2]:
spark = SparkSession.builder.appName('Collaborative Filtering').getOrCreate()

In [3]:
sc = spark.sparkContext

In [4]:
rating_rdf = spark.read.options(inferScehma=True, header=True).csv('ratings.csv')
rating_rdf.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [5]:
rating_rdf.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [6]:
movie_rdf = spark.read.options(inferSchema=True, header=True).csv('movies.csv')
movie_rdf.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [7]:
rdf = rating_rdf.join(movie_rdf, 'movieId', 'left')
rdf = rdf.withColumn('userId', rdf['userId'].cast(IntegerType()))
rdf = rdf.withColumn('movieId', rdf['movieId'].cast(IntegerType()))
rdf = rdf.withColumn('rating', rdf['rating'].cast(FloatType()))
rdf = rdf.drop('timestamp', 'title', 'genres')
rdf.show()

+-------+------+------+
|movieId|userId|rating|
+-------+------+------+
|      1|     1|   4.0|
|      3|     1|   4.0|
|      6|     1|   4.0|
|     47|     1|   5.0|
|     50|     1|   5.0|
|     70|     1|   3.0|
|    101|     1|   5.0|
|    110|     1|   4.0|
|    151|     1|   5.0|
|    157|     1|   5.0|
|    163|     1|   5.0|
|    216|     1|   5.0|
|    223|     1|   3.0|
|    231|     1|   5.0|
|    235|     1|   4.0|
|    260|     1|   5.0|
|    296|     1|   3.0|
|    316|     1|   3.0|
|    333|     1|   5.0|
|    349|     1|   4.0|
+-------+------+------+
only showing top 20 rows

In [8]:
rdf.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- userId: integer (nullable = true)
 |-- rating: float (nullable = true)

In [9]:
rdf.agg({'rating': 'max'}).collect()[0][0]

5.0

In [10]:
counts = rdf.groupBy('userId').count().orderBy('count', ascending=False)
counts.show()

+------+-----+
|userId|count|
+------+-----+
|   414| 2698|
|   599| 2478|
|   474| 2108|
|   448| 1864|
|   274| 1346|
|   610| 1302|
|    68| 1260|
|   380| 1218|
|   606| 1115|
|   288| 1055|
|   249| 1046|
|   387| 1027|
|   182|  977|
|   307|  975|
|   603|  943|
|   298|  939|
|   177|  904|
|   318|  879|
|   232|  862|
|   480|  836|
+------+-----+
only showing top 20 rows

In [11]:
pdf = counts.pandas_api()
pdf = pdf[pdf['count'] >= 50].copy()
counts = pdf.to_spark()
counts.show()

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
C:\spark-3.3.0-bin-hadoop3\python\pyspark\pandas\utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

+------+-----+
|userId|count|
+------+-----+
|   414| 2698|
|   599| 2478|
|   474| 2108|
|   448| 1864|
|   274| 1346|
|   610| 1302|
|    68| 1260|
|   380| 1218|
|   606| 1115|
|   288| 1055|
|   249| 1046|
|   387| 1027|
|   182|  977|
|   307|  975|
|   603|  943|
|   298|  939|
|   177|  904|
|   318|  879|
|   232|  862|
|   480|  836|
+------+-----+
only showing top 20 rows

In [12]:
counts.count()

385

In [13]:
train, test = rdf.randomSplit([.8, .2], seed=4563)
train.show()

+-------+------+------+
|movieId|userId|rating|
+-------+------+------+
|      1|     5|   4.0|
|      1|     7|   4.5|
|      1|    15|   2.5|
|      1|    17|   4.5|
|      1|    18|   3.5|
|      1|    19|   4.0|
|      1|    21|   3.5|
|      1|    27|   3.0|
|      1|    31|   5.0|
|      1|    32|   3.0|
|      1|    40|   5.0|
|      1|    43|   5.0|
|      1|    44|   3.0|
|      1|    45|   4.0|
|      1|    46|   5.0|
|      1|    50|   3.0|
|      1|    63|   5.0|
|      1|    68|   2.5|
|      1|    71|   5.0|
|      1|    73|   4.5|
+-------+------+------+
only showing top 20 rows

In [14]:
test.show()

+-------+------+------+
|movieId|userId|rating|
+-------+------+------+
|      1|     1|   4.0|
|      1|    33|   3.0|
|      1|    54|   3.0|
|      1|    57|   5.0|
|      1|    64|   4.0|
|      1|    66|   4.0|
|      1|    98|   4.5|
|      1|   155|   3.0|
|      1|   161|   4.0|
|      1|   200|   3.5|
|      1|   213|   3.5|
|      1|   226|   3.5|
|      1|   232|   3.5|
|      1|   263|   4.0|
|      1|   270|   5.0|
|      1|   273|   5.0|
|      1|   276|   4.0|
|      1|   322|   3.5|
|      1|   323|   3.5|
|      1|   332|   4.0|
+-------+------+------+
only showing top 20 rows

In [15]:
train.count()

80658

In [16]:
test.count()

20178

In [17]:
als = ALS(
    userCol='userId', 
    itemCol='movieId',
    ratingCol='rating',
    nonnegative=True,
    implicitPrefs=False,
    coldStartStrategy='drop',
)
als

ALS_fcf0a9f38c9c

In [18]:
pg = ParamGridBuilder().addGrid(als.rank, [10, 50, 100])
pg = pg.addGrid(als.regParam, [.01,.05, .1,])
pg = pg.build()
pg

[{Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 10,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.01},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 10,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.05},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 10,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.1},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 50,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.01},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 50,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.05},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 50,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.1},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 100,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.01},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 100,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.05},
 {Param(parent='ALS_fcf0a9f38c9c', name='rank', doc='rank of the factorization'): 100,
  Param(parent='ALS_fcf0a9f38c9c', name='regParam', doc='regularization parameter (>= 0).'): 0.1}]

In [19]:
evaluator = RegressionEvaluator(
    metricName='rmse',
    labelCol='rating',
    predictionCol='prediction',
)
evaluator

RegressionEvaluator_7014405944dc

In [20]:
cv = CrossValidator(evaluator=evaluator,estimator=als,estimatorParamMaps=pg,numFolds=3)
cv

CrossValidator_9f13d3bdddb7

In [21]:
%%time
model = cv.fit(train)

CPU times: total: 93.8 ms
Wall time: 1min 28s

In [22]:
best_model = model.bestModel
predictions = best_model.transform(test)
error = evaluator.evaluate(predictions)
error

0.86985274417317

In [44]:
recommendations = best_model.recommendForAllUsers(numItems=5)
recommendations.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|     1|[{51931, 5.453394...|
|     2|[{89774, 4.599317...|
|     3|[{6835, 4.9213486...|
|     4|[{3851, 4.924227}...|
|     5|[{290, 4.5228376}...|
|     6|[{2137, 4.6220713...|
|     7|[{260, 4.6101904}...|
|     8|[{7767, 4.7049017...|
|     9|[{720, 4.813535},...|
|    10|[{71579, 4.717427...|
|    11|[{27611, 4.969722...|
|    12|[{142488, 5.43573...|
|    13|[{3022, 4.8604355...|
|    14|[{945, 4.367099},...|
|    15|[{166534, 4.74139...|
|    16|[{171495, 4.27658...|
|    17|[{260, 4.7072096}...|
|    18|[{171495, 4.63090...|
|    19|[{1658, 4.292015}...|
|    20|[{527, 4.8311124}...|
+------+--------------------+
only showing top 20 rows

In [50]:
recommendations = recommendations.withColumn('recommendations', explode(recommendations.recommendations))
recommendations.show()

+------+-------------------+
|userId|    recommendations|
+------+-------------------+
|     1| {51931, 5.4533944}|
|     1|    {7842, 5.39222}|
|     1|   {3494, 5.338763}|
|     1| {142488, 5.335615}|
|     1|   {720, 5.3224373}|
|     2| {89774, 4.5993176}|
|     2|  {80906, 4.566479}|
|     2|{106782, 4.5290713}|
|     2| {60756, 4.3998523}|
|     2| {58301, 4.3885355}|
|     3|  {6835, 4.9213486}|
|     3|  {5746, 4.9213486}|
|     3|   {5919, 4.863526}|
|     3|  {5181, 4.8586764}|
|     3|  {7991, 4.7858067}|
|     4|   {3851, 4.924227}|
|     4|   {3365, 4.771686}|
|     4|  {1283, 4.7604494}|
|     4|   {2390, 4.715044}|
|     4|  {2186, 4.6737022}|
+------+-------------------+
only showing top 20 rows

In [51]:
recommendations.printSchema()

root
 |-- userId: integer (nullable = false)
 |-- recommendations: struct (nullable = true)
 |    |-- movieId: integer (nullable = true)
 |    |-- rating: float (nullable = true)

In [52]:
recommendations = recommendations.select('userId', 'recommendations.movieId', 'recommendations.rating')
recommendations.show()

+------+-------+---------+
|userId|movieId|   rating|
+------+-------+---------+
|     1|  51931|5.4533944|
|     1|   7842|  5.39222|
|     1|   3494| 5.338763|
|     1| 142488| 5.335615|
|     1|    720|5.3224373|
|     2|  89774|4.5993176|
|     2|  80906| 4.566479|
|     2| 106782|4.5290713|
|     2|  60756|4.3998523|
|     2|  58301|4.3885355|
|     3|   6835|4.9213486|
|     3|   5746|4.9213486|
|     3|   5919| 4.863526|
|     3|   5181|4.8586764|
|     3|   7991|4.7858067|
|     4|   3851| 4.924227|
|     4|   3365| 4.771686|
|     4|   1283|4.7604494|
|     4|   2390| 4.715044|
|     4|   2186|4.6737022|
+------+-------+---------+
only showing top 20 rows

In [53]:
recommendations = recommendations.join(movie_rdf, 'movieId', 'left')
recommendations.show()

+-------+------+---------+--------------------+--------------------+
|movieId|userId|   rating|               title|              genres|
+-------+------+---------+--------------------+--------------------+
|  51931|     1|5.4533944|Reign Over Me (2007)|               Drama|
|   7842|     1|  5.39222|         Dune (2000)|Drama|Fantasy|Sci-Fi|
|   3494|     1| 5.338763|    True Grit (1969)|Adventure|Drama|W...|
| 142488|     1| 5.335615|    Spotlight (2015)|            Thriller|
|    720|     1|5.3224373|Wallace & Gromit:...|Adventure|Animati...|
|  89774|     2|4.5993176|      Warrior (2011)|               Drama|
|  80906|     2| 4.566479|   Inside Job (2010)|         Documentary|
| 106782|     2|4.5290713|Wolf of Wall Stre...|  Comedy|Crime|Drama|
|  60756|     2|4.3998523|Step Brothers (2008)|              Comedy|
|  58301|     2|4.3885355|Funny Games U.S. ...|      Drama|Thriller|
|   6835|     3|4.9213486|Alien Contaminati...|Action|Horror|Sci-Fi|
|   5746|     3|4.9213486|Galaxy of Terror ...|Action|Horror|Mys...|
|   5919|     3| 4.863526|      Android (1982)|              Sci-Fi|
|   5181|     3|4.8586764|    Hangar 18 (1980)|Action|Sci-Fi|Thr...|
|   7991|     3|4.7858067|Death Race 2000 (...|       Action|Sci-Fi|
|   3851|     4| 4.924227|I'm the One That ...|              Comedy|
|   3365|     4| 4.771686|Searchers, The (1...|       Drama|Western|
|   1283|     4|4.7604494|    High Noon (1952)|       Drama|Western|
|   2390|     4| 4.715044| Little Voice (1998)|              Comedy|
|   2186|     4|4.6737022|Strangers on a Tr...|Crime|Drama|Film-...|
+-------+------+---------+--------------------+--------------------+
only showing top 20 rows